<%- include("partials/header") -%>

    <h1>
        <%= title %>
    </h1>
    <p>
        <%= description %>
    </p>

    <button> <a href="/">Back</a></button>

    <%- include("partials/footer") -%>